{% extends 'base.html' %}
{% block before_container %}
<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header top-header-favorit">
					<div class="top-header-thumb">
                        {% if restaurant.cover_photo %}
						<img src="{{ restaurant.cover_photo.url }}" alt="nature" style="height: auto;  max-height: 360px;">
                        {% endif %}
						<div class="top-header-author">
							<div class="author-thumb">
								<img src="{{ restaurant.logo.url }}" alt="author" style="height: 100%;">
							</div>
							<div class="author-content">
								<a href="#" class="h3 author-name">{{ restaurant.name }}</a>
								<div class="country">{{ restaurant.city }}</div>
							</div>
						</div>
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-xl-8 m-auto col-lg-8 col-md-12">
								<ul class="profile-menu">
									<li>
										<a href="/restaurant/{{restaurant.slug}}/timeline" class="active">Timeline</a>
									</li>
                                    <li>
										<a href="/restaurant/{{restaurant.slug}}/foods">Foods</a>
									</li>
                                    <li>
										<a href="">Promotions</a>
									</li>
                                    <li>
                                        <a href="">Following</a>
                                    </li>
									<!--<li>-->
										<!--<a href="13-FavouritePage-About.html">About</a>-->
									<!--</li>-->
									<!--<li>-->
										<!--<a href="07-ProfilePage-Photos.html">Photos</a>-->
									<!--</li>-->
									<!--<li>-->
										<!--<a href="09-ProfilePage-Videos.html">Videos</a>-->
									<!--</li>-->
									<!--<li>-->
										<!--<a href="14-FavouritePage-Statistics.html">Statistics</a>-->
									<!--</li>-->
									<!--<li>-->
										<!--<a href="15-FavouritePage-Events.html">Events</a>-->
									<!--</li>-->
								</ul>
							</div>
						</div>

						<div class="control-block-button">
							<a href="#" class="btn btn-control bg-primary">
								<svg class="olymp-star-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control bg-purple">
								<svg class="olymp-chat---messages-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block responsive-flex">
				<div class="ui-block-title">
					<div class="h6 title">{{ restaurant.name }}'s Food Store</div>

                    {% if can_manage_food %}
					<div class="block-btn align-right">
						<a href="#" data-toggle="modal" data-target="#create-photo-album" class="btn btn-primary btn-md-2">Add Food  +</a>

					</div>
                    {% endif %}

                    <form class="w-search">
						<div class="form-group with-button">
							<input class="form-control" type="text" placeholder="Search Food...">
							<button>
								<svg class="olymp-magnifying-glass-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
							</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
    <div class="row infinite-container">
        {% for food in foods %}
		<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 infinite-item">
			<div class="ui-block">

                <article class="hentry blog-post">

            <div class="post-thumb">
                {% if food.image %}
               <a href="/food/{{food.slug}}"><img src="{{ food.image.url }}" alt="photo"></a>
                {% endif %}
            </div>

            <div class="post-content">
             {% if can_manage_food %}
              <a href="#" data-toggle="modal" data-target="#blog-post-popup" class="post-category bg-blue-light">Edit</a>
              {% endif %}
              <a href="/food/{{ food.slug }}" class="h4 post-title">{{ food.name }}</a>
              <p>{{ food.price }}</p>
              <p>{{ food.description}}</p>


              <div class="post-additional-info inline-items">

                <ul class="friends-harmonic">
                  <li>
                    <a href="#">
                      <img src="/static/img/icon-chat26.png" alt="icon">
                    </a>
                  </li>
                   <!--<li>-->
                    <!--<a href="#">-->
                      <!--<img src="/static/img/icon-chat2.png" alt="icon">-->
                    <!--</a>-->
                  <!--</li> -->
                </ul>
                <div class="names-people-likes">
                  {{ food.likes|length }}
                </div>

                <div class="comments-shared">
                  <a href="#" class="post-add-icon inline-items">
                    <svg class="olymp-speech-balloon-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
                    <span>{{ food.comments|length }}</span>
                  </a>
                </div>

              </div>
            </div>

          </article>


			</div>
        </div>
        {% endfor %}
    </div>
</div>



<!-- Window-popup Create Photo Album -->

<div class="modal fade" id="create-photo-album" tabindex="-1" role="dialog" aria-labelledby="create-photo-album" aria-hidden="true">
	<div class="modal-dialog window-popup create-photo-album" role="document">
		<div class="modal-content" style="width: 100%">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Add New Food</h6>
			</div>

			<div class="modal-body">

			<form style="width: 100%;" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group label-floating">
                    <label class="control-label">Name</label>
				    <input class="form-control" name="name" placeholder="" type="text" required="required">
                </div>

                <div class="form-group label-floating">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" name="description"></textarea>
                </div>

                <div class="form-group label-floating">
                    <label class="control-label">Price</label>
				    <input class="form-control" name="price" placeholder="" value="GH₵ " type="text" required="required">
                </div>

                <div class="file-upload">
                    <label for="upload" class="file-upload__label">Click To Upload Food Image</label>
                    <input id="upload" class="file-upload__input" type="file" name="image" required="required">
                </div>



            <div style="width: 98%; margin: 0 auto;">
                <a href="#"  data-dismiss="modal" class="btn btn-secondary btn-lg btn--half-width">Discard Everything</a>
			    <button type="submit" class="btn btn-primary btn-lg btn--half-width">Add Food</button>
            </div>

            </form>
           </div>


		</div>
		</div>
	</div>
</div>

<!-- ... end Window-popup Create Photo Album -->

{% endblock %}