<!doctype html>
{% load compress %}

{% comment %} paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ {% endcomment %}
<!--[if lt IE 7]> <html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="lt-ie10" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Fudbyte!</title>
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/fonts.css">

       <!-- Main Font -->
  <script src="/static/js/webfontloader.min.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Roboto:300,400,500,700:latin']
      }
    });
  </script>


    {% compress css %}
        {% comment %} Core CSS includes (for inclusion on all pages) {% endcomment %}

    {% endcompress %}

    {% compress css %}
        {% comment %}
            Per-page CSS is compressed separately so that the global stuff doesn't get re-downloaded each time 
        {% endcomment %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

</head>
<body class="body-bg-white">

    <header class="header header--logout" id="site-header">
    <a href="/" class="logo">
      <div class="img-wrap">
        <img src="/static/img/logo.png" alt="Olympus">
      </div>
    </a>
    {% block content %}{% endblock %}


         <script src="/static/js/jquery-3.2.1.js"></script>
  <script src="/static/js/jquery.appear.js"></script>
  <script src="/static/js/jquery.mousewheel.js"></script>
  <script src="/static/js/perfect-scrollbar.js"></script>
  <script src="/static/js/jquery.matchHeight.js"></script>
  <script src="/static/js/svgxuse.js"></script>
  <script src="/static/js/imagesloaded.pkgd.js"></script>
  <script src="/static/js/Headroom.js"></script>
  <script src="/static/js/velocity.js"></script>
  <script src="/static/js/ScrollMagic.js"></script>
  <script src="/static/js/jquery.waypoints.js"></script>
  <script src="/static/js/jquery.countTo.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/material.min.js"></script>
  <script src="/static/js/bootstrap-select.js"></script>
  <script src="/static/js/smooth-scroll.js"></script>
  <script src="/static/js/selectize.js"></script>
  <script src="/static/js/swiper.jquery.js"></script>
  <script src="/static/js/moment.js"></script>
  <script src="/static/js/daterangepicker.js"></script>
  <script src="/static/js/simplecalendar.js"></script>
  <script src="/static/js/fullcalendar.js"></script>
  <script src="/static/js/isotope.pkgd.js"></script>
  <script src="/static/js/ajax-pagination.js"></script>
  <script src="/static/js/Chart.js"></script>
  <script src="/static/js/chartjs-plugin-deferred.js"></script>
  <script src="/static/js/circle-progress.js"></script>
  <script src="/static/js/loader.js"></script>
  <script src="/static/js/run-chart.js"></script>
  <script src="/static/js/jquery.magnific-popup.js"></script>
  <script src="/static/js/jquery.gifplayer.js"></script>
  <script src="/static/js/mediaelement-and-player.js"></script>
  <script src="/static/js/mediaelement-playlist-plugin.min.js"></script>

  <script src="/static/js/base-init.js"></script>
  <script defer src="/fonts/fontawesome-all.js"></script>
  <script src="/static/js/bootstrap.bundle.js"></script>

</body>
</html>
