<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>Fudbyte!</title>
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/fonts.css">

    <!-- Main Font -->
  <script src="/static/js/webfontloader.min.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Roboto:300,400,500,700:latin']
      }
    });
  </script>
  </head>

  <body class="body-bg-white">
    <!-- Stunning header -->

    <div class="stunning-header">

      <!-- Header Standard Landing  -->

      <div class="header--standard header--standard-landing" id="header--standard">
        <div class="container">
          <div class="header--standard-wrap">

            <a href="/" class="logo">
              <div class="img-wrap">
                <img src="/static/img/logo.png" alt="Olympus">
                <img src="/static/img/logo-colored-small.png" alt="Olympus" class="logo-colored">
              </div>
              <div class="title-block">
                <h6 class="logo-title">Fud Byte</h6>
                <div class="sub-title">THE FUD NETWORK</div>
              </div>
            </a>

            <a href="#" class="open-responsive-menu js-open-responsive-menu">
              <svg class="olymp-menu-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
            </a>

            <div class="nav nav-pills nav1 header-menu">
              <div class="mCustomScrollbar">
                <ul>
                  <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                  </li>
                   {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a href="#" class="nav-link">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a href="/accounts/logout" class="nav-link">Logout</a>
                  </li>
                   {% else %}
                  <li class="nav-item">
                    <a href="/accounts/login" class="nav-link">Sign In</a>
                  </li>
                     <li class="nav-item">
                    <a href="/accounts/register" class="nav-link">Sign Up</a>
                  </li>
                   {% endif %}
                  <li class="close-responsive-menu js-close-responsive-menu">
                    <svg class="olymp-close-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                  </li>
                  <li class="nav-item js-expanded-menu">
                    <a href="#" class="nav-link">
                      <svg class="olymp-menu-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                      <svg class="olymp-close-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                    </a>
                  </li>

                   <!--<li class="shoping-cart more">-->
                    <!--<a href="#" class="nav-link">-->
                      <!--<svg class="olymp-shopping-bag-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use></svg>-->
                      <!--<span class="count-product">2</span>-->
                    <!--</a>-->
                    <!--<div class="more-dropdown shop-popup-cart">-->
                      <!--<ul>-->
                        <!--<li class="cart-product-item">-->
                          <!--<div class="product-thumb">-->
                            <!--<img src="img/product1.png" alt="product">-->
                          <!--</div>-->
                          <!--<div class="product-content">-->
                            <!--<h6 class="title">White Enamel Mug</h6>-->
                            <!--<ul class="rait-stars">-->
                              <!--<li>-->
                                <!--<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>-->
                              <!--</li>-->
                              <!--<li>-->
                                <!--<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>-->
                              <!--</li>-->

                              <!--<li>-->
                                <!--<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>-->
                              <!--</li>-->
                              <!--<li>-->
                                <!--<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>-->
                              <!--</li>-->
                              <!--<li>-->
                                <!--<i class="far fa-star star-icon" aria-hidden="true"></i>-->
                              <!--</li>-->
                            <!--</ul>-->
                            <!--<div class="counter">x2</div>-->
                          <!--</div>-->
                          <!--<div class="product-price">$20</div>-->
                          <!--<div class="more">-->
                            <!--<svg class="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>-->
                          <!--</div>-->
                        <!--</li>-->
                        <!--<li class="cart-product-item">-->
                          <!--<div class="product-thumb">-->
                            <!--<img src="img/product2.png" alt="product">-->
                          <!--</div>-->
                          <!--<div class="product-content">-->
                            <!--<h6 class="title">Olympus Orange Shirt</h6>-->
                            <!--<ul class="rait-stars">-->
                              <!--<li>-->
                                <!--<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>-->
                              <!--</li>-->
                              <!--<li>-->
                                <!--<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>-->
                              <!--</li>-->

                              <!--<li>-->
                                <!--<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>-->
                              <!--</li>-->
                              <!--<li>-->
                                <!--<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>-->
                              <!--</li>-->
                              <!--<li>-->
                                <!--<i class="far fa-star star-icon" aria-hidden="true"></i>-->
                              <!--</li>-->
                            <!--</ul>-->
                            <!--<div class="counter">x1</div>-->
                          <!--</div>-->
                          <!--<div class="product-price">$40</div>-->
                          <!--<div class="more">-->
                            <!--<svg class="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>-->
                          <!--</div>-->
                        <!--</li>-->
                      <!--</ul>-->

                      <!--<div class="cart-subtotal">Cart Subtotal:<span>$80</span></div>-->

                      <!--<div class="cart-btn-wrap">-->
                        <!--<a href="#" class="btn btn-primary btn-sm">Go to Your Cart</a>-->
                        <!--<a href="#" class="btn btn-purple btn-sm">Go to Checkout</a>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</li> %>-->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ... end Header Standard Landing  -->
      <div class="header-spacer--standard"></div>

      <div class="stunning-header-content">
        <h1 class="stunning-header-title">The Menu</h1>

       <ul class="breadcrumbs">
          <li class="breadcrumbs-item active">
            <a href="/">Home</a>
            <span class="icon breadcrumbs-custom">/</span>
          </li>
          <!--<li class="breadcrumbs-item active">-->
            <!--<span>Blog Grid</span>-->
          <!--</li> -->
        </ul>
      </div>

      <div class="content-bg-wrap stunning-header-bg1"></div>
    </div>

    <!-- ... end Stunning header -->

    <div class="container">

        <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block responsive-flex1200">
        <div class="ui-block-title">
           <!--<ul class="filter-icons">-->
            <!--<li>-->
              <!--<a href="#">-->
                <!--<img src="img/icon-chat2.png" alt="icon">-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">-->
                <!--<img src="img/icon-chat15.png" alt="icon">-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">-->
                <!--<img src="img/icon-chat9.png" alt="icon">-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">-->
                <!--<img src="img/icon-chat4.png" alt="icon">-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">-->
                <!--<img src="img/icon-chat6.png" alt="icon">-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">-->
                <!--<img src="img/icon-chat26.png" alt="icon">-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">-->
                <!--<img src="img/icon-chat27.png" alt="icon">-->
              <!--</a>-->
            <!--</li>-->
          <!--</ul> -->
          <form method="GET" class="w-select" id="filter_restaurant_form">

            <div class="title">Filter By:</div>
            <fieldset class="form-group">
                <select name="restaurant" id="" class="selectpicker form-control">
                    <option value="All">All</option>
                    {% for restaurant in restaurants %}
                    <option value="{{ restaurant.slug }}">{{ restaurant.name }}</option>
                    {% endfor %}
                </select>

            </fieldset>
          </form>
          <button type="button" id="btn_filter_restaurant" class="btn btn-primary btn-md-2">Filter</button>

           <form method="GET" class="w-search">
            <div class="form-group with-button">
                <input type="text" class="form-control" name="food" placeholder="Search...."/>
              <button type="submit">
                <svg class="olymp-magnifying-glass-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


<section class="blog-post-wrap medium-padding80">
  <div class="container">
    <div class="row">
      {% for food in foods %}
      <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="ui-block">


          <!-- Post -->
          <article class="hentry blog-post">

            <div class="post-thumb">
               <a href="/food/{{food.slug}}"><img src="{{ food.image.url }}" alt="photo"></a>
            </div>

            <div class="post-content">
              <a href="#" class="post-category bg-blue-light">{{ food.restaurant.name}}</a>
              <a href="/food/{{ food.slug }}" class="h4 post-title">{{ food.name }}</a>
              <p>{{ food.price }}</p>
              <p>{{ food.description}}</p>

              <div class="author-date">
                by
                <a class="h6 post__author-name fn" href="">{{ food.restaurant.name }}</a>
                <div class="post__date">
                  <time class="published" datetime="2017-03-24T18:18">

                  </time>
                </div>
              </div>

              <div class="post-additional-info inline-items">

                <ul class="friends-harmonic">
                  <li>
                    <a href="#">
                      <img src="/static/img/icon-chat26.png" alt="icon">
                    </a>
                  </li>
                   <!--<li>-->
                    <!--<a href="#">-->
                      <!--<img src="/static/img/icon-chat2.png" alt="icon">-->
                    <!--</a>-->
                  <!--</li> -->
                </ul>
                <div class="names-people-likes">
                  {{ food.likes }}
                </div>

                <div class="comments-shared">
                  <a href="#" class="post-add-icon inline-items">
                    <svg class="olymp-speech-balloon-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
                    <span>{{ food.comments|length }}</span>
                  </a>
                </div>

              </div>
            </div>

          </article>

          <!-- ... end Post -->
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<!-- Pagination -->
    {% if foods.has_other_pages %}
   <nav aria-label="Page navigation">
     <ul class="pagination justify-content-center">
        {% if foods.has_previous %}
           <li class="page-item">
            <a class="page-link" href="?page={{ foods.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
         {% endif %}
          {% for i in foods.paginator.page_range %}
                 <li class="{% if foods.number == i %}active{% endif %} page-item"><a class="page-link" href="?page={{ i }}">{{ i }}<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: -10.3833px; top: -16.8333px; background-color: rgb(255, 255, 255); transform: scale(16.7857);"></div></div></a></li>
         {% endfor %}
         {% if foods.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ foods.next_page_number }}">Next</a>
              </li>
         {% endif %}
    </ul>


   </nav>
    {% endif %}

  <!-- ... end Pagination -->

</section>

    </div>


  <script src="/static/js/jquery-3.2.1.js"></script>
  <script src="/static/js/jquery.appear.js"></script>
  <script src="/static/js/jquery.mousewheel.js"></script>
  <script src="/static/js/perfect-scrollbar.js"></script>
  <script src="/static/js/jquery.matchHeight.js"></script>
  <script src="/static/js/svgxuse.js"></script>
  <script src="/static/js/imagesloaded.pkgd.js"></script>
  <script src="/static/js/Headroom.js"></script>
  <script src="/static/js/velocity.js"></script>
  <script src="/static/js/ScrollMagic.js"></script>
  <script src="/static/js/jquery.waypoints.js"></script>
  <script src="/static/js/jquery.countTo.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/material.min.js"></script>
  <script src="/static/js/bootstrap-select.js"></script>
  <script src="/static/js/smooth-scroll.js"></script>
  <script src="/static/js/selectize.js"></script>
  <script src="/static/js/swiper.jquery.js"></script>
  <script src="/static/js/moment.js"></script>
  <script src="/static/js/daterangepicker.js"></script>
  <script src="/static/js/simplecalendar.js"></script>
  <script src="/static/js/fullcalendar.js"></script>
  <script src="/static/js/isotope.pkgd.js"></script>
  <script src="/static/js/ajax-pagination.js"></script>
  <script src="/static/js/Chart.js"></script>
  <script src="/static/js/chartjs-plugin-deferred.js"></script>
  <script src="/static/js/circle-progress.js"></script>
  <script src="/static/js/loader.js"></script>
  <script src="/static/js/run-chart.js"></script>
  <script src="/static/js/jquery.magnific-popup.js"></script>
  <script src="/static/js/jquery.gifplayer.js"></script>
  <script src="/static/js/mediaelement-and-player.js"></script>
  <script src="/static/js/mediaelement-playlist-plugin.min.js"></script>

  <script src="/static/js/base-init.js"></script>
  <script defer src="/fonts/fontawesome-all.js"></script>
  <script src="/static/js/bootstrap.bundle.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
	$("#btn_filter_restaurant").on('click', function(){
    	$("#filter_restaurant_form").submit();
	});
});

    </script>

  </body>
</html>
