<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fudbyte!</title>
     <link rel="stylesheet" href="/static/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/fonts.css">

    <!-- Main Font -->
  <script src="/static/js/webfontloader.min.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Roboto:300,400,500,700:latin']
      }
    });
  </script>

  </head>

  <body class="body-bg-white">

  <!-- Header-BP-logout -->

  <header class="header header--logout" id="site-header">
    <a href="/" class="logo">
      <div class="img-wrap">
        <img src="/static/img/logo.png" alt="Olympus">
      </div>
    </a>

    <div class="page-title">
      <h6>{{ page_title }}</h6>
    </div>

    <!-- <div class="header-content-wrapper">
      <form class="search-bar w-search notification-list friend-requests">
        <div class="form-group with-button">
          <input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
          <button>
            <svg class="olymp-magnifying-glass-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
          </button>
        </div>
      </form>

      <div class="form--login-logout">
        <form class="form-inline">
          <div class="form-group">
            <input class="form-control form-control-sm" type="text" placeholder="Username" value="" required>
          </div>
          <div class="form-group">
            <input class="form-control form-control-sm" type="password" placeholder="Password" value="" required>
          </div>
          <button class="btn btn-primary btn-md-2">Login</button>
        </form>
        <a href="#" class="btn btn-primary btn-md-2 login-btn-responsive" data-toggle="modal" data-target="#registration-login-form-popup">Login</a>
      </div>
    </div> -->

  </header>

  <!-- ... end Header-BP-logout -->
  <div class="header-spacer"></div>




    <div class="container">
      {% block content %}{% endblock %}
    </div>

 <script src="/static/js/jquery-3.2.1.js"></script>
  <script src="/static/js/jquery.appear.js"></script>
  <script src="/static/js/jquery.mousewheel.js"></script>
  <script src="/static/js/perfect-scrollbar.js"></script>
  <script src="/static/js/jquery.matchHeight.js"></script>
  <script src="/static/js/svgxuse.js"></script>
  <script src="/static/js/imagesloaded.pkgd.js"></script>
  <script src="/static/js/Headroom.js"></script>
  <script src="/static/js/velocity.js"></script>
  <script src="/static/js/ScrollMagic.js"></script>
  <script src="/static/js/jquery.waypoints.js"></script>
  <script src="/static/js/jquery.countTo.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/material.min.js"></script>
  <script src="/static/js/bootstrap-select.js"></script>
  <script src="/static/js/smooth-scroll.js"></script>
  <script src="/static/js/selectize.js"></script>
  <script src="/static/js/swiper.jquery.js"></script>
  <script src="/static/js/moment.js"></script>
  <script src="/static/js/daterangepicker.js"></script>
  <script src="/static/js/simplecalendar.js"></script>
  <script src="/static/js/fullcalendar.js"></script>
  <script src="/static/js/isotope.pkgd.js"></script>
  <script src="/static/js/ajax-pagination.js"></script>
  <script src="/static/js/Chart.js"></script>
  <script src="/static/js/chartjs-plugin-deferred.js"></script>
  <script src="/static/js/circle-progress.js"></script>
  <script src="/static/js/loader.js"></script>
  <script src="/static/js/run-chart.js"></script>
  <script src="/static/js/jquery.magnific-popup.js"></script>
  <script src="/static/js/jquery.gifplayer.js"></script>
  <script src="/static/js/mediaelement-and-player.js"></script>
  <script src="/static/js/mediaelement-playlist-plugin.min.js"></script>

  <script src="/static/js/base-init.js"></script>
  <script defer src="/static/fonts/fontawesome-all.js"></script>
  <script src="/static/js/bootstrap.bundle.js"></script>



  </body>
</html>
